.sidebarContainer nav ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4rem;

    background: var(--gray-line);
}

.sidebarContainer ul li:hover {
    border-right: 3px solid rgb(255, 123, 0);
}