@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .btn {
    @apply flex justify-center items-center font-semibold  h-12 border-0 rounded transition-all hover:brightness-90;
  }
  
  .countdown {
    @apply flex flex-1 justify-center items-center shadow bg-black-nav text-center text-9xl;
  }

  .countdown-btn {
    @apply flex justify-center items-center w-full h-20 mt-8 text-2xl font-semibold transition-all border-0 rounded bg-blue-normal
  }

  .css-basic {
    @apply font-normal font-['Inter'] text-base
  }
}

:root {
  --white: #fff;
  --background: #121214;
  --navbar: #202024;
  --text: #e6e6e6;
  --countdown: #52525c;
  --text-highlight: #b3b9ff;
  --title: #fff;
  --red: #e83f5b;
  --green: #4cd62b;
  --blue: #225aa3;
  --blue-dark: #1b4172;
}

body {
  @apply css-basic bg-black-bg text-text-normal lg:text-[92.75%] md:text-[87.5%];
}


body, input, textarea, button {
  @apply css-basic
}

button {
  @apply cursor-pointer
}

a {
  @apply text-inherit no-underline
}
